body {
    display: flex;
    height: 1000px;
    margin:0px;
}

aside{ 
    width: 200px;
    height: 100%;
    background-color: rgba(233, 164, 15, 0.76);
    border-right: 3px solid rgba(243, 4, 4, 0.836);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position:relative
}

.placeholder{
    align-self: center;
    margin-top: 20px;
}

.user {
    max-width: 100px;
}
.utente {
    align-self: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
    flex: 1;
}
li {
    border: 2px solid rgba(243, 4, 4, 0.836);
    background-color: rgba(245, 244, 225, 0.842);
    padding: 5px 15px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2b2b2b;
    font-size: 20px;
}
a:hover {
    color: #2b2bb2;
    transition: 0.3s;
}