body {
    margin: 0;
    font-size: calc(0.5rem + 1.1vw);
    font-family: sans-serif, 'Lucida Sans';
}
nav {
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height:  65px;
    background-color: rgb(41, 41, 48);
    
    
}
ul {
    display: flex;
    flex: row wrap;
    margin: 0;
    padding-left: 0.75em;
    align-items: center;
    gap: 1em;
}
    
li {
    list-style: none;
    color:white;
    max-width: 100%;
}    
img { 
    width: 100%;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: white;
}
.grey{
    color: rgb(182, 178, 178);
}
.color {
    color: rgb(124, 124, 124);
}
.freccetta {
    font-size: 0.8em;
    padding-left: 5px;}

.search-button, .search {
    font-size: calc(0.5em + 1.1vw);
    font-family: sans-serif, 'Lucida Sans';
    padding: 0.5em calc(0.5em + 0.3vw);
    border-radius: 8px;
}
.search-button {
    margin: 0em 0.3em;
    background-color: rgb(41, 41, 48);
    color: green;
    border: 2px solid green;
}
.search-button:hover {
    background-color: green;
    color: white;
}
.hamburger {
    font-size: 2em;
    padding-right: 20px;
    color:white;
}

.dropdown {
    position: relative;
}
.ul {
    display: none;
  position: absolute;
  background-color: rgb(41, 41, 48);
  width: 90px;
}
.li {
    padding:10px
}
.dropdown:hover .ul {
    display: block;
  }


@media (max-width:768px) {
    /* solo navbar e hamburger menu sulla destra*/
    li:not(:first-child), .search, .search-button {
        display:none;
    }
}
@media (min-width:769px) {
    .hamburger {
    display:none;
    } 
}
